/* FONTS */
@font-face {
    font-family: "Aniron";
    src: url("../fonts/anirm___.ttf") format("truetype");
}

@font-face {
    font-family: "Aniron";
    font-weight: bold;
    src: url("../fonts/anirb___.ttf") format("truetype");
}

@font-face {
    font-family: "Ringbearer";
    src: url("../fonts/ringm___.ttf") format("truetype");
}

.aniron {
    font-family: "Aniron";
}

.ringbearer {
    font-family: "Ringbearer";
}

.alegreya {
    font-family: 'Alegreya Sans SC', sans-serif;
}

body {
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 1280px 800px;
    min-height: 800px;
    min-width: 1280px;
}

main {
    margin-top: 30px;
}

#openingPage {
    width: 100%;
    position: fixed;
    top: 100px;
}

#questionsDiv {
    margin: 20px auto;
}

h2 {
    margin: 0;
}

h3 {
    font-size: 18px;
}

#timeLeft {
    font-size: 36px;
    padding: 5px;
}

#hintsLeft {
    font-size: 24px;
}

#question {
    font-size: 24px;
    padding: 5px 10px;
}

.answer {
    cursor: url(http://cur.cursors-4u.net/user/use-1/use162.cur), progress !important;
    width: 100%;
    font-size: 18px;
    padding: 5px 10px;
}

.centered {
    text-align: center;
    width: 100%;
}

#navbar-main {
    float: right;
    margin-top: 5px;
}

#questionNumber {
    margin: 0;
}

.alert {
    margin: 0;
}

.well {
    margin: 0;
}

#hintsDiv {
    margin-bottom: 0;
}

#hintsBtn {
    cursor: help;
}

.progress {
    background-color: #3E444C;
    height: 30px;
    margin: 10px auto;
}

#statsTable {
    margin-top: 20px;
    padding-bottom: 0;
}
.boxshadow {
    box-shadow: 5px 5px 5px #000000;
}

.badge {
    font-size: 24px;
    padding: 5px 20px;
}

.correctGuess {
    border: solid 1px #62C462;
}

.wrongGuess {
    border: solid 1px #EE5F5B;
}

.wrongAnswer {
    background-color: #EE5F5B;
    color: white;
}

.correctAnswer {
    background-color: #62C462;
    color: white;
}

.lastpanel {
    margin-bottom: 0;
}

.hvr-fade {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    overflow: hidden;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: color, background-color;
    transition-property: color, background-color;
}

.hvr-fade:hover, .hvr-fade:focus, .hvr-fade:active {
    background-color: #3E444C;
    color: white;
}

.progress-bar {
    border: solid 1px #000000;
}