main {
    margin-top: 20px;
}

.answer {
    cursor: pointer;
    width: 100%;
}

.centered {
    text-align: center;
    width: 100%;
}

#navbar-main {
    float: right;
    margin-top: 5px;
}

.list-group-item {
    margin: 10px;
    line-height: 24px;
    font-size: 24px;
}
